.App {
  text-align: center;
}

.Pokedex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: url("./images/Pokedex.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.Items {
  margin-left: 70px;
}


